@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


html {
  font-family: "robotoregular" ;
  font-size: 62.5%
}

body {
  background: #ffffff;
  font-size: 1.6rem;
}
#root {
  background: #9ac7a8;
  width: 75vw;
  margin: 0 auto;
}

.header-bar {
  background: #6db683;
  color: beige;
}

.todo-list {
  height: 30vh;
}

.todo-completed-list {
  ul {
    color: darkgrey;

  }
}
